$packageArgs = @{
  packageName   = 'gocd{{app}}'
  fileType      = 'exe'

  url           = '{{url}}'
  checksum      = '{{checksum}}'
  checksumType  = 'sha256'

  url64         = '{{url64}}'
  checksum64    = '{{checksum64}}'
  checksumType64= 'sha256'

  silentArgs    = '/S'

  validExitCodes= @(0)
}

Install-ChocolateyPackage @packageArgs
