$packageArgs = @{
  packageName   = 'gocdserver'
  fileType      = 'exe'

  url           = '{{url}}'
  url64         = '{{url64}}'

  silentArgs    = '/S'

  validExitCodes= @(0)
}

Install-ChocolateyPackage @packageArgs
